<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Tareas</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <div class="jumbotron">
            <h1>Lista de Tareas</h1>
            <ul>
            <% tareas.forEach(function(tarea, id){ %>
                <li><%=tarea%> <a class="badge" href="/borrar/<%=id%>">X</a></li>    
            <% }); %>
            </ul>
            <form action="adicionar/" method="POST">
                <p>
                    <label for="nuevaTarea">Nueva Tarea: </label>
                    <input type="text" name="nuevaTarea" autofocus
                    id="nuevaTarea" />
                    <input class="btn btn-lg btn-success" type="submit" />
                </p>
            </form>
        </div>
    </body>
</html>
